@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-reg-helptext {
  background-color: $color-primary-lighter;
  border-radius: 5px;
  font-size: 1.4rem;
  strong {
    font-size: 1.8rem;
  }
  .fdk-reg-helptext-more {
    text-decoration: underline;
    white-space: nowrap;
    color: $color-link;
  }
}

.help-text p {
  margin-bottom: 0;
}

.help-text {
  a {
    color: $color-link;
  }

  a:after {
    content: ' ';
    background-image: url('../../assets/img/icon-external-link-xs.svg');
    position: relative;
    width: 1.4em;
    height: 1.4em;
    top: +0.3em;
    display: inline-flex;
  }
}
