@import '../../assets/style/bootstrap-override.scss';

.fdk-reg-helptext {
  background-color: $color-primary-lighter;
  border-radius: 5px;
  font-size: 1.4rem;
  strong {
    font-size: 1.8rem;
  }
  .fdk-reg-helptext-more {
    text-decoration: underline;
    white-space: nowrap;
    color: $color-link;
  }
}
