@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.react-autosuggest__container {
  display: inline;

  .react-autosuggest__suggestions-list {
    padding: 0;
    list-style: none;

    .react-autosuggest__suggestion--highlighted {
      background-color: $color-neutral-lighter;
    }
  }
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  z-index: 10;
  box-shadow: 0 3px 12px rgba(35, 55, 65, 0.55);
  margin-top: 8px;
  border-top: 1px solid $color-neutral-light;
  padding: 1em;
  background-color: $color-white;

  .react-autosuggest__suggestion {
    padding: 0.5em;
  }
}

.react_autosuggest__suggestions-heading {
  .first {
    padding-left: 0.5em;
  }
}