@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

svg.remove, svg.add {
  width: 1em;
  height: 1em;
}

.remove path {
  fill: $color-danger;
}

.add path {
  fill: white !important;
}

.add circle {
  fill: $color-link !important;
}
