.hello {
  text-align: center;
  margin: 20px;
  font-size: 38px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hellosmall {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hellobutton {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  min-width: 50px;
}
