@import '../../../../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors';

.fdk-list-item {
  background-color: $color-white;
  color: $color-neutral-dark;
  margin-bottom: 0.25em;
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
}
