@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.fdk-icon-add {
  width: 1em;
  height: 1em;

  circle {
    fill: $color-link;
  }

  path {
    fill: #fff;
  }
}
