@import '../../../node_modules/designsystemet/fdk-designsystem-bootstrap4/scss/colors.scss';

.chevronIcon {
  height: 20px;
}

.toggleExpandButton {
  border: none;
  color: $color-link;
  background-color: inherit;
  padding: 8px 8px;
  cursor: pointer;
  display: inline-block;
}
